.tophalf {
    text-align: center;
    position: relative;
}
#pic {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
#header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(156, 156, 126);
    font-size: 10vw;
    font-family: URW Chancery L, cursive;
}